body {
  background-color: #000000;
  font-family: 'Inter';
}

.background {
  background-image: url('./img/background-rick-and-morty.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh; /* Esto asegura que la imagen cubra toda la altura de la ventana */
  width: 100%;   /* Esto asegura que la imagen cubra toda la anchura de la ventana */
  display: flex; /* Habilita flexbox */
  flex-direction: column; /* Orientación vertical */
  align-items: center; /* Centra los elementos horizontalmente */
  justify-content: flex-start; /* Alinea los elementos al inicio verticalmente */
}

.logo {
  background-image: url('./img/logo-rick-and-morty.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 320px;
  height: 100px;
  margin-top: 50px; /* Ahora puedes usar margin sin afectar al contenedor */
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center; /* Centra los elementos horizontalmente */
}

.pic{
  /* background-image: url('./img/778.jpeg'); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 300px;
  height: 300px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.title {
  color: #00B0C7;
  font-size: 48px;
}

.card-title {
  color: #00B0C7;
  font-size: 24px;
  font-weight: 700;
  margin: 25px 0 15px 0;

}

.card-info {
  color: #ffffff;
  font-size: 16px;
  font-weight: 400;
  margin: 3px;
}

.row {
  display: flex;
  flex-direction: row;
}

.card-info-cnt {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-left: 20px;
  margin-bottom: 25px;
}

.card {
  display: flex;
  width: 300px;
  height: auto;
  background-color: #000000; 
  border-radius: 15px; 
  overflow: hidden;
  display: flex;
  flex-direction: column;
  border: 3px solid #00FF0A;
}

.selectSeason {
  width: 277px;
  height: 80px;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  background-color: #00A507;
  border-radius: 5px;
  padding-left: 5px;
  margin-right: 25px;
}

.selectEpisode {
  width: 100%;
  height: 80px;
  color: #000000;
  font-size: 26px;
  font-weight: 700;
  background-color: #00A507;
  border-radius: 5px;
  margin-bottom: 30px;
}

.cnt-dropdowns {
  display: flex;
  flex-direction: row;
}

.character-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* 4 columnas */
  gap: 16px; /* Espacio entre las tarjetas */
}

